.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
}

.sectionTitle {
  text-align: center;
}

.swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 250px;
  height: 250px;
}

.swiper-slide img {
  display: block;
  width: 100%;
}

.projectsContainer {
  align-items: center;
  width: 100%;
}

.slide-content {
  width: 100%;
  height: auto;
  max-width: 400px;
  margin: 0 auto;
}

.slide-image {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 12px;
}

.slide-text {
  position: absolute;
  bottom: 15px;
  left: 15px;
  color: white;
  font-size: 1.2rem;
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0.5); /* fondo semitransparente */
  padding: 8px 12px;
  border-radius: 8px;
}
